<header class="image-bg-fluid-height image-header">
    <img class="img-responsive img-center" src="../../../assets/images/logojcoz.jpg" alt="">
</header>

<!-- Content Section -->
<section>
    <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-card>
                <mat-card-header>
                    <mat-card-title><h2>Judoweekend</h2></mat-card-title>
                    <mat-card-subtitle><h5>28 - 30 september 2018</h5></mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    Judoweekend van 28 sept tot 30 sept in Bloso Genk. 28 sept zal er dan geen training zijn.
                </mat-card-content>

            </mat-card>
          </div>
        </div>

    </div>
</section>
